# ←←← COPY THIS TO .env AND EDIT ←←←
APP_MODE=MACHINE # Options: SERVER, MACHINE
MACHINE_ID=1
# MACHINE_NAME=XMachine1
DB_URL=mysql://root:password@localhost/xmachines
# IS_LEADER=false


# APP_MODE=SERVER # Options: SERVER, MACHINE
# MACHINE_ID=1 # Only used when APP_MODE=MACHINE. Corresponds to a machine ID in the database.
# LEADER_HOST_WS="ws://127.0.0.1:8080" # Only used when APP_MODE=MACHINE. The IP/Host of the parent server.
# LEADER_HOST_WEB="http://127.0.0.1:8000" # Only used when APP_MODE=MACHINE. The IP/Host of the parent server.
# OLLAMA_HOST="http://127.0.0.1:11434"
# OLLAMA_MODEL="qwen3:0.6b"
